@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}
html,body,h1,h2,h3,p{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: v.$cl-neutral-lightblue;
}

.section-format{
    margin-bottom: 20px;
    padding: 25px;
    min-width: 311px;
    height: 248px;  
    font-size: 15px;
    // border: 2px green solid;
    box-shadow: 0px 1px 9px v.$cl-neutral-darkblue;
    @include m.breakpoints-up(large){
        width: 400px;
        height: 220px;
        
        // &:not(:nth-child(3),:last-child){
        //     margin-right: 20px;
        // }

    }

    &:first-child{
        border-top: 3px solid v.$cl-primary-clay;
        @include m.breakpoints-up(large){
            // margin: 0 0;
    }
    }

    &:nth-child(2){
        border-top: 3px solid v.$cl-primary-red;
    }

    &:nth-child(3){
        border-top: 3px solid v.$cl-primary-orange;
    }

    &:last-child{
        border-top: 3px solid v.$cl-primary-blue;
    }



    & h2{
        color: v.$cl-neutral-darkblue;
    }

    & p{
        margin-bottom: 45px;
        color: v.$cl-neutral-grayishblue;
        @include m.breakpoints-up(large){
            margin-bottom: 21px;
        }

    }

    & img{
        float: right;
    }
}