//primary color
$cl-primary-red:hsl(0, 78%, 62%);
$cl-primary-clay:hsl(180, 62%, 55%);
$cl-primary-orange:hsl(34, 97%, 64%);
$cl-primary-blue:hsl(212, 86%, 64%);
//neutral color
$cl-neutral-darkblue: hsl(234, 12%, 34%);
$cl-neutral-grayishblue: hsl(229, 6%, 66%);
$cl-neutral-lightblue: hsl(0, 0%, 98%);
